<div class="login__checkbox cart__payments__rodo flex">
    <label class="login__checkbox__label">
        {{ form_widget(form.rules, {'attr': {'class': 'login__checkbox__checkbox'}}) }}
        <span class="login__checkbox__checkmark"></span>
        {{ 'sylius.ui.confirm_rules'|trans|raw }}
    </label>
</div>
