{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="cart__payments__price text-center">
    {{ 'sylius.ui.items_total'|trans }} <b>{{ money.convertAndFormat(order.itemsTotal) }}</b>
</div>
