<nav class="header__navbar">
    <ul class="header__menu">
        <li class="header__menu__item header__menu__item--active">
            <a href="#">{{ 'app.ui.menu.header.categories'|trans }}<img src="/assets/shop/img/chevron.png" alt="Kategorie" /></a>
            {% include '@SyliusShop/Layout/Header/_menu.html.twig' %}
        </li>
        <li class="header__menu__item">
            <a href="#">Części ciała<img src="/assets/shop/img/chevron.png" alt="Kategorie" /></a>
            <ul class="header__submenu">
                <li class="header__submenu__item"><a href="#">Podkategoria</a></li>
                <li class="header__submenu__item"><a href="#">Podkategoria</a></li>
                <li class="header__submenu__item"><a href="#">Podkategoria</a></li>
                <li class="header__submenu__item"><a href="#">Podkategoria</a></li>
                <li class="header__submenu__item"><a href="#">Podkategoria</a></li>
            </ul>
        </li>
        <li class="header__menu__item">
            <a href="#">Sport<img src="/assets/shop/img/chevron.png" alt="Kategorie" /></a>
            <ul class="header__submenu">
                <li class="header__submenu__item"><a href="#">Podkategoria</a></li>
                <li class="header__submenu__item"><a href="#">Podkategoria</a></li>
            </ul>
        </li>
        <li class="header__menu__item">
            <a href="#">Refundacja<img src="/assets/shop/img/chevron.png" alt="Kategorie" /></a>
        </li>
    </ul>
</nav>
