<nav class="header__navbar">
    <div class="hero container wrapper bg-darkBlue">
        <div class="row">
            <div class="col-sm-12 text-center text-white">


                <ul class=" row">
                    <li class=" col-md-2 ">
                        Nietrzymanie moczu
                    </li>
                    <li class=" col-md-2 ">
                        Higiena i pielęgnacja
                    </li>
                    <li class=" col-md-2 ">
                        Rehabilitacja
                    </li>
                    <li class=" col-md-2 ">
                        Leczenie ran
                    </li>
                    <li class=" col-md-2 ">
                        Drogeria
                    </li>
                    <li class=" col-md-2 ">
                        Dieta
                    </li>
                </ul>


            </div>
        </div>
    </div>
    <ul class="header__menu row">
        {% include '@SyliusShop/Layout/Header/_menu.html.twig' %}
    </ul>
</nav>
