<div class="row order__buttons">
    <a href="{{ path('app_refund_create', {'orderId': resource.id}) }}" class="button button--border border-black button--small button--secondary">{{ 'sylius.ui.refund'|trans }}</a>
</div>
