<div class="row order__addresses">
    <div class="col-12 col-md-6" id="sylius-billing-address" {{ sylius_test_html_attribute('billing-address') }}>
        <h4>{{ 'sylius.ui.billing_address'|trans }}</h4>
        {% include '@SyliusShop/Common/_address.html.twig' with {'address': order.billingAddress} %}
    </div>
    {% if order.isShippingRequired() %}
    <div class="col-12 col-md-6" id="sylius-shipping-address" {{ sylius_test_html_attribute('shipping-address') }}>
        <h4>{{ 'sylius.ui.shipping_address'|trans }}</h4>
        {% include '@SyliusShop/Common/_address.html.twig' with {'address': order.shippingAddress} %}
    </div>
    {% endif %}
</div>
