<div class="flex flex--between cart__payments__buttons">
    <button type="submit" class="button button--blue " {{ sylius_test_html_attribute('next-step') }}>{{ 'sylius.ui.shipping_and_payment'|trans }}</button>
</div>
