<section class="comments container wrapper">

    <div class="ui icon info message">

        <i class="info circle icon"></i>
        <div class="content">
            <div class="header">
                Uwaga
            </div>
            <p>Prezentowane produkty na stronie są wyrobami medycznymi. Dla bezpieczeństwa używaj ich zgodnie z
                instrukcją użytkowania lub etykietą</p>
        </div>

    </div>

</section>

