<div class="footer__block col-sm-12 col-md-6">
    <p class="text-white">
        Infolinia: +48 733 533 953<br />
        <a href="mailto:medorto@medorto.pl">medorto@medorto.pl</a><br /><br />
        MEDORTO Adam Chmiel i wspólnicy S.C.<br />
        Al. Warszawska 2A<br />
        39-400 Tarnobrzeg
    </p>
</div>
