<footer class="footer bg-darkBlue text-white">
    <div class="container wrapper">
        <a href="#">
            <img src="/assets/shop/img/footer_small.png" alt="medorto logo" />
        </a>
        {{ sylius_template_event('sylius.app.layout.footer') }}
        <img class="footer__image" src="/assets/shop/img/footer_big.png" alt="medorto logo" />
    </div>
</footer>
