* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto";
	color: #414042;
}

li {
	list-style: none;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	transition: all 0.2s ease;
}

[class*="svg-hovered"] {
	fill: #f99e23!important;
}

.hidden {
	display: none;
}

.pointer {
	cursor: pointer;
}

.jq-star svg {
	@include size(100%, 100%);
}

.relative {
	position: relative;
}

.title {
	font-size: 39px;
	font-weight: 900;
	line-height: 48px;
	@media screen and (max-width: $mobile) {
		font-size: 32px;
	}
}

.text-center {
	text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-rodo {
    margin: 5px;
    font-size: 11px !important;
}

.responsive-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.px-0 {
	padding-left: 0;
	padding-right: 0;
}

.wrapper {
	padding: 0 0.5rem;
}

.container {
	max-width: 1160px;
	width: 100%;
	margin: 0 auto;
	@media screen and (max-width: $mobile) {
		max-width: 100%;
	}
}

.flex {
	@include flex(row, center, flex-start);

	&--column {
		flex-direction: column;
	}
	&--between {
		justify-content: space-between;
	}

	&--end {
		justify-content: flex-end;
	}

	&--center {
		align-items: center;
	}
	&--vcenter {
		justify-content: center;
	}
}

.full-size {
    width: 100%;
}

.half-size {
    width: 50%;
}

.font-light {
	font-weight: 300;
}

.font-medium {
	font-weight: 500;
}

.font-bold {
	font-weight: 700;
}

.font-black {
	font-weight: 900;
}


.relative {
    position: relative !important;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.error {
    color: $red;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
}

.products__item {
    flex-basis: 32%;
    margin-left: 1.3%;

    @media screen and (max-width: 667px){
        flex-basis: 90%;
        margin-left: 5%;
    }
}

.main-image {
    max-width: 380px;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    display: block;
    max-height: 145px;

    @media screen and (max-width: 667px){
        max-height: 30vh;
        margin: 0 auto;
    }
}

.breadcrumbs {
    margin-bottom: 20px;
}
