<label class="login__checkbox__label flex flex--column" {{ sylius_test_html_attribute('payment-item') }}>
    <div>
        {{ form_widget(form, sylius_test_form_attribute('payment-method-select')|merge({'attr': {'class': 'login__checkbox__checkbox'}})) }}
        <span class="login__checkbox__checkmark"></span>
        <aside class="cart__payments__logo flex">
            <aside>
                <b>{{ form.vars.label }}</b>
                {% if method.description is not null %}
                    <p>{{ method.description }}</p>
                {% endif %}
            </aside>
            <img src="app/img/payu.png" alt="">
        </aside>
    </div>
</label>
