{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
<div class="product-refunds--refund border-blue">
    <span class="refund-description">{{ code.description }}</span>
    <div class="row">
        <div class="ui col-xs-12 col-sm-12 col-md-12">
            <label>
                <input type="radio" name="refund-code" value="{{ code.code }}"> {{ code.code }}
            </label>
        </div>
        <div class="ui col-xs-12 col-sm-12 col-md-12">
{#            <h3 class="text-lightBlue mt-0 mb-0">{{ money.calculatePriceWithRefund(variant, code.code) }}</h3>#}
        </div>
    </div>
</div>
