{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% if product_reviews|length > 0 %}
    <ul class="comments__list">
        {% for review in product_reviews %}
            {% include '@SyliusShop/ProductReview/_single.html.twig' %}
        {% endfor %}
    </ul>
{% else %}
    {{ messages.info('sylius.ui.there_are_no_reviews') }}
{% endif %}
<section class="hero container wrapper bg-darkBlue">
    <div class="row">
        <div class="col-sm-12 text-center text-white">
            <p class="text-white">Opinie nie są weryfikowane.</p>
        </div>
    </div>
</section>
