{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <section class="comments container wrapper">
        <h2 class="comments__heading text-darkBlue">{{ 'app.ui.reviews.title'|trans }}</h2>
    </section>
    <section class="comments container wrapper" id="sylius-product-reviews " {{ sylius_test_html_attribute('product-reviews') }}>
        {{ sylius_template_event('app.shop.product_review.index.list', _context) }}
    </section>
{% endblock %}
