{% if taxon is not null %}
{#    <section class="hero container wrapper bg-darkBlue">#}
{#        <div class="row">#}
{#            <div class="col-sm-12 text-center text-white">#}
{#                <h2>{{ taxon.name }}</h2>#}
{#                <p>{{ taxon.description }}</p>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endif %}
