{% if taxon is not null %}
    <section class="hero container wrapper bg-darkBlue">
        <div class="row">
            <div class="col-sm-12 text-center text-white">
                {% if taxon.title is not null %}
                    <h1>{{ taxon.title }}</h1>
                {% else %}
                    <h1>{{ taxon.name }}</h1>
                {% endif %}
{#                <p>{{ taxon.description }}</p>#}
            </div>
        </div>
    </section>
{% endif %}
