{% if taxon is not null %}
    <section class="hero container wrapper bg-darkBlue">
        <div class="row">
            <div class="col-sm-12 text-center text-white">
                <h1>{{ taxon.name }}</h1>
{#                <p>{{ taxon.description }}</p>#}
            </div>
        </div>
    </section>
{% endif %}
