<section class="slider glide">
    <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">
            <div class="glide__slide">
                <div class="col-sm-12 col-md-6 px-0">
                    <img class="responsive-img" src="/assets/shop/img/placeholder.jpg" alt="Wózki inwalidzkie" />
                </div>
                <div class="col-sm-12 col-md-6 bg-darkBlue text-white slider__item">
                    <div class="slider__content">
                        <h2>Wózki inwalidzkie</h2>
                        <p>Największy w Polsce wybór wózków inwalidzkich Oferta dopasowana do limitów NFZ.</p>
                        <a href="#" class="button button--white">Zobacz</a>
                    </div>
                </div>
            </div>
            <div class="glide__slide">
                <div class="col-sm-12 col-md-6 px-0">
                    <img class="responsive-img" src="/assets/shop/img/kosmetyka.jpg" alt="Wózki inwalidzkie" />
                </div>
                <div class="col-sm-12 col-md-6 bg-darkBlue text-white slider__item">
                    <div class="slider__content">
                        <h2>Wózki inwalidzkie 2</h2>
                        <p>Największy w Polsce wybór wózków inwalidzkich Oferta dopasowana do limitów NFZ.</p>
                        <a href="#" class="button button--white">Zobacz</a>
                    </div>
                </div>
            </div>
            <div class="glide__slide">
                <div class="col-sm-12 col-md-6 px-0">
                    <img class="responsive-img" src="/assets/shop/img/wkladki.jpg" alt="Wózki inwalidzkie" />
                </div>
                <div class="col-sm-12 col-md-6 bg-darkBlue text-white slider__item">
                    <div class="slider__content">
                        <h2>Wózki inwalidzkie 3</h2>
                        <p>Największy w Polsce wybór wózków inwalidzkich Oferta dopasowana do limitów NFZ.</p>
                        <a href="#" class="button button--white">Zobacz</a>
                    </div>
                </div>
            </div>
            <div class="glide__slide">
                <div class="col-sm-12 col-md-6 px-0">
                    <img class="responsive-img" src="/assets/shop/img/wyposazenie.jpg" alt="Wózki inwalidzkie" />
                </div>
                <div class="col-sm-12 col-md-6 bg-darkBlue text-white slider__item">
                    <div class="slider__content">
                        <h2>Wózki inwalidzkie 4</h2>
                        <p>Największy w Polsce wybór wózków inwalidzkich Oferta dopasowana do limitów NFZ.</p>
                        <a href="#" class="button button--white">Zobacz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0"></button>
        <button class="glide__bullet" data-glide-dir="=1"></button>
        <button class="glide__bullet" data-glide-dir="=2"></button>
        <button class="glide__bullet" data-glide-dir="=3"></button>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <img src="{{ asset('assets/shop/img/arrow.png') }}" alt="arrow-left" />
        </button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <img src="{{ asset('assets/shop/img/arrow.png') }}" alt="arrow-right" />
        </button>
    </div>
</section>
