<section class="hero container wrapper bg-darkBlue">
    <div class="row">
        <div class="col-sm-12 text-center text-white">
            <h2 class="text-white">{{ 'app.ui.homepage.our_shops.title'|trans }}</h2>
            <p class="text-white">{{ 'app.ui.homepage.our_shops.description'|trans|nl2br }}</p>
            <a href="#" class="button button--white">{{ 'app.ui.buttons.see'|trans }}</a>
        </div>
    </div>
</section>
