.product-refunds {
    &--refund {
        border-bottom: 1px solid;
        padding: 10px 0;
        text-align: left;
        &:last-child {
            border-bottom: none;
        }
        span {
            display: block;
            width: 100%;
        }

        .refund-description {
            color: $lightGrey;
            padding-bottom: 5px;
        }
    }
    p {
        text-align: left;
        font-size: 14px;
    }

    .header {
        display: block;
        font-weight: 700;
        color: $darkBlue;
    }
}
