.login {
	margin-bottom: 256px;
	@media screen and (max-width: $mobile) {
		margin-bottom: 80px;
		padding: 0 20px;
	}

	&--register {
		.login__form {
			margin-top: 80px;
			@media screen and (max-width: $mobile) {
				margin-top: 20px;
			}
			&--register {
				margin-top: 0;
			}
		}
	}

	&--cart {
		margin: 58px auto 166px;
		@media screen and (max-width: $mobile) {
			margin: 0 auto 40px;
		}
		.register {
			@media screen and (max-width: $mobile) {
				padding-left: .5rem;
				margin-bottom: 20px;
			}
			.login__title {
				margin: 32px 0 42px;
			}
			.button {
				min-width: 100%;
				margin-bottom: 32px;
				border-radius: 7px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
		.login__form {
			margin-top: 0;
		}
	}

	&__title {
		font-size: 17px;
		line-height: 20px;
		margin: 0 0 40px;
		padding-left: 14px;
	}

	&__checkbox {
		padding-left: 20px;
		margin-top: 30px;

		&__label {
			font-size: 16px;
			display: block;
			position: relative;
			cursor: pointer;
			user-select: none;
			padding-left: 44px;
			display: flex;
			align-items: center;
			height: 22px;

			.login__checkbox__checkbox:checked ~ .login__checkbox__checkmark:after {
				display: block;
			}
		}

		&__checkbox {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;

			:checked ~ .checkmark {
				background-color: #2196f3;
			}
		}

		&__checkmark {
			@include size(22px, 22px);
			position: absolute;
			top: 0;
			left: 0;
			background-color: $white;
			border: 1px solid #565656;

			&:after {
				content: "";
				position: absolute;
				display: none;
				left: 6px;
				top: 2px;
				width: 5px;
				height: 10px;
				border: solid #565656;
				border-width: 0 3px 3px 0;
				transform: rotate(45deg);
			}
		}
	}

	&__form {
		box-shadow: 2px 3px 4px rgba(130, 130, 130, 0.75);
		border-radius: 12px;
		padding: 32px 70px 28px;
		
		@media screen and (max-width: $mobile) {
			padding: 20px;
		}

		.input {
			text-align: left;
			border-color: #d1d5db;
			border-radius: 7px;
			margin-bottom: 30px;
			max-width: 100%;
		}

		.button {
			width: 100%;
			border-radius: 7px;
			margin-bottom: 16px;
		}

		&--register {
			box-shadow: none;
			padding: 0;
			max-width: 422px;
			@media screen and (max-width: $mobile) {
				max-width: 100%;
			}

			.button {
				margin-top: 22px;
			}

			.input {
				margin-bottom: 16px;
			}
		}
	}

	&__register {
		margin-top: 96px;
		@media screen and (max-width: $mobile) {
			margin-top: 20px;
		}
		a {
			color: rgba($darkBlue, 0.5);
			width: 100%;
		}
	}

	&__forgotten {
		opacity: 0.5;
		font-size: 16px;
		font-weight: 300;
		line-height: 25px;
	}

	.title {
		margin-bottom: 38px;
	}

	label:not(.login__checkbox__label) {
		color: #414042;
		font-size: 14px;
		font-weight: 300;
		line-height: 25px;
		margin-bottom: 4px;
		padding-left: 20px;
	}
}

.register {
	padding-left: 54px;
	@media screen and (max-width: $mobile) {
		padding-left: 0;
	}

	.login__title {
		@media screen and (max-width: $mobile) {
			margin-bottom: 20px;
		}
	}
}
