{% if form.vars.choices|length == 1 %}
    {{ form_row(form, sylius_test_form_attribute(type ~ 'country')|merge({'value': form.vars.choices[0].value, 'attr': {'class': 'input'}})) }}
{% else %}
    <div class="relative">
        {{ form_label(form, sylius_test_form_attribute(type ~ 'country')) }}
        {{ form_errors(form, sylius_test_form_attribute(type ~ 'country')) }}
        {{ form_widget(form, sylius_test_form_attribute(type ~ 'country')|merge({'value': 'PL','attr': {'class': 'input'}})) }}
    </div>
{% endif %}
